<!DOCTYPE html>
<html>
  <head>
    <title>Moody</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Moody</h1>
    <% if session['userinfo'] %>
      <%= session["userinfo"]["info"]["nickname"] %>
      <%= image_tag(session["userinfo"]["info"]["image"]) %>
      <%= button_to 'Logout', 'logout', method: :get  %>
    <% else %>
      <%= button_to 'Login', 'auth/auth0', method: :post unless session['userinfo'] %>
    <% end %>

    <%= yield %>
  </body>
</html>
